<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Temperature Chart</title>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://unpkg.com/htmx.org"></script>
  <link rel="stylesheet" href="/web/style/style.css" />
</head>
<body>
  <header>
    <h1>Temperature Over Time</h1>
  </header>
  <main>
    <h1>
      <span id="deltaTemp"> Delta 0</span>
    </h1>
    <section>
      <div id="temperatureChart"></div>
      <div class="tempInfo">
        <div class="start-container">
          <span id="startTemp"></span>
          <p class="tempDetail">Start</p>
        </div>
        <div class="end-container">
          <span id="endTemp"></span>
          <p class="tempDetail">End</p>
        </div>
        <div class="current-container">
          <span id="currentTemp"></span>
          <p class="tempDetail">Now</p>
        </div>
      </div>
    </section>
  </main>
  <button class="ref-btn" hx-get="/api/time-series" hx-swap="none" hx-trigger="click" onclick="fetchData()">
    Refresh Data
  </button>
  <script src="/web/js/fetchData.js"></script>
  <script src="/web/js/chart.js"></script>
</body>
</html>
